html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.body {
 

}
.main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  height: 100vh;
}
.header-navigation {
  border: black;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  
  
 
  
}
.navigation {
  display: flex;
}
.navigation__link {
  padding: 16px;
  font-family: "Ubuntu", sans-serif;
}
.main__header {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
}
.article {
}
.footer {
}
